@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Forte Book</h1>
    <p class="lead">Place where you can find a review of books and their ratings and also be a part of this process. </p>
    <p><a href="https://en.wikipedia.org/wiki/Book" class="btn btn-primary btn-lg">Learn more about books &raquo;</a></p>
</div>

<div class="row">
    <h2>Most popular books ever!</h2>
    <div class="col-md-4">
        <h2>Harry Potter series, JK Rowling</h2>
        <p>
            Harry Potter is a series of fantasy novels written by British author J. K. Rowling. 
            The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, 
            all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, 
            a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles 
            (non-magical people).
        </p>
        <img src="~/Content/HP-cover.jpg" height="200" width="160">
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Harry_Potter">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A Tale of Two Cities, Charles Dickens</h2>
        <p>
            is an 1859 historical novel by Charles Dickens, set in London and Paris before and during the French Revolution.
            The novel tells the story of the French Doctor Manette, his 18-year-long imprisonment in the Bastille in Paris and
            his release to live in London with his daughter Lucie, whom he had never met. The story is set against the conditions
            that led up to the French Revolution and the Reign of Terror.
        </p>
        <img src="~/Content/TwoCities-cover.jpg" height="200" width="160">
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/A_Tale_of_Two_Cities">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Lord of the Rings, JRR Tolkien</h2>
        <p>
            is an epic high-fantasy novel written by English author and scholar J. R. R. Tolkien.
            The story began as a sequel to Tolkien's 1937 fantasy novel The Hobbit, but eventually developed into a much larger work.
            Written in stages between 1937 and 1949, The Lord of the Rings is one of the best-selling novels ever written, with over 150 million copies sold.
        </p>
        <img src="~/Content/Lord-cover.jpg" height="200" width="160">
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Learn more &raquo;</a></p>
    </div>
</div>